cargo-features = ["edition2024"]

[package]
name = "protocrap"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
futures = "0.3.31"

[dev-dependencies]
criterion = "0.5"
prost = "0.13"

[build-dependencies]
prost-build = "0.13"

[[bench]]
name = "proto_bench"
harness = false

[profile.dev]
panic = 'abort'

[profile.release]
panic = 'abort'

