[package]
name = "no-std-test"
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
publish = false

[lib]
crate-type = ["rlib"]

[dependencies]
protocrap = { path = "..", default-features = false }

[features]
default = []
